.user-container {
  background-color: white !important;
}

/* Sidebar */
.sidebar {
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 20px;
  bottom: 20px;
  border-radius: 8px;
  width: 56px;
  background: rgb(0 0 0 / 25%);
  backdrop-filter: blur(10px);
  transition: width 0.45s;
}

.sidebar .material-symbols-outlined {
  font-size: 20px;
}

.sidebar.open {
  width: 190px;
}

.sidebar .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
}

.sidebar header {
  display: flex;
  align-items: center;
  height: 64px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 6px;
}

.sidebar-burger {
  width: 44px;
  height: 44px;
  display: grid;
  place-items: center;
  color: #f9f9f9;
  background-color: transparent;
  border: transparent;
  border-radius: 8px;
  padding: 0 4px;
}

.sidebar-burger:hover {
  opacity: 1;
  background: rgb(0 0 0 / 30%);
}

.sidebar-burger img {
  position: absolute;
  width: 18px;
  height: 18px;
}

.sidebar header > img {
  height: 18px;
}

.sidebar header > h4 {
  color: #f9f9f9;
  margin-left: 5px;
}

.sidebar nav {
  display: grid;
  padding: 0 6px;
  gap: 2px;
}

.sidebar nav > a {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 44px;
  width: 44px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0 12px;
  border-radius: 8px;
  opacity: 0.7;
  color: #f9f9f9;
  background-color: transparent;
  border: transparent;
}

.sidebar nav > a:hover {
  opacity: 1;
  background: rgb(0 0 0 / 30%);
}

.sidebar:not(.open) nav > a:hover p {
  opacity: 1;
  background: rgb(0 0 0 / 70%);
  padding: 4px 8px;
  border-radius: 6px;
  translate: 10px 0;
}

.sidebar header > img,
.sidebar nav > a p,
.sidebar header > h4,
.btn p {
  opacity: 0;
  transition: 0.15s;
}

.sidebar.open :is(nav a p, header > img, header > h4) {
  opacity: 1;
}

.sidebar.open nav > a {
  width: 100%;
}

.sidebar.open :is(nav img, nav a p) {
  width: 20px;
}

.sidebar nav > a p {
  display: flex;
  top: 5px;
  margin: 0px;
}

/* Profile button */

.profile {
  margin-top: 650px;
}

.profile > .btn {
  display: flex;
  gap: 12px;
  align-items: center;
  height: 44px;
  width: 44px;
  text-transform: capitalize;
  line-height: 1;
  padding: 0 12px;
  border-radius: 25px;
  opacity: 0.7;
  color: #f9f9f9;
  background-color: transparent;
  border: transparent;
}

.profile .btn p {
  display: flex;
  top: 5px;
  margin: 0px;
}

.sidebar:not(.open) .profile > .btn:hover p {
  opacity: 1;
  background: rgb(0 0 0 / 70%);
  padding: 4px 8px;
  border-radius: 6px;
  translate: 10px 0;
}

.sidebar.open :is(.btn p) {
  opacity: 1;
}

.sidebar .profile > .btn:hover {
  opacity: 1;
  background: rgb(0 0 0 / 30%);
}

.sidebar.open .profile > .btn {
  width: 100%;
}
/* Button & Modal */
.details-button {
  display: flex;
  margin-left: auto !important;
  margin-right: auto !important;
}

.header-content {
  border: 1px solid black;
  justify-content: space-between;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  border: 1px solid #fff;
  width: 500px;
  background-color: #fff;
  border-radius: 15px;
}

.modal-title {
  color: #6821c3;
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
}
.exit-icon {
  cursor: pointer;
  font-size: 20px;
}

.modal-text {
  text-align: justify;
}
